* {
    width: 100%;
    height: 100%;
    font-family: "Exo 2", San Serif;
    margin: 0;
    color: #5C8374;
}
.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #040D12;
}
.uploadContainer {
    max-width: calc(40% - 80px);
    max-height: calc(60% - 60px);
    background-color: #183D3D;
    border-radius: 20px;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 380px;
}

.uploadBtn {
    max-width: 40%;
    min-width: 130px;
    height: 10%;
    min-height: 50px;
    max-height: 80px;
    border-radius: 10px;
    background: #5C8374;
    border: 0px solid;
    cursor: pointer;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    display: flex;
    color: #040D12;
    font-weight: bold;
    font-size:24px;
}
.uploadIcons {
    font-size: 64px;
    width: auto;
    height: auto;
    display: flex;
}
.uploadText {
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 26px;
    color: #5C8374;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    display: flex;
}
.secretInput {
    max-height: 40px;
    width: 40%;
    min-width: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 0 20px;
    display: flex;
}
.uploadBtn:hover {
    max-width: 40%;
    min-width: 130px;
    height: 10%;
    min-height: 50px;
    max-height: 80px;
    border-radius: 10px;
    background: #040D12;
    border: 0px solid;
    color: #5C8374;
    font-weight: bold;
    font-size:24px;
}