* {
    width: 100%;
    height: 100%;
    font-family: "Exo 2", San Serif;
    margin: 0;
    color: #5C8374;
}
.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #040D12;
}
.uploadContainer {
    max-width: 40%;
    max-height: calc(60% - 60px);
    background-color: #183D3D;
    border-radius: 20px;
    text-align: center;
    padding: 40px 0;
}

.uploadBtn {
    max-width: 40%;
    min-width: 130px;
    height: 10%;
    min-height: 50px;
    max-height: 80px;
    border-radius: 10px;
    background: #5C8374;
    border: 0px solid;
    cursor: pointer;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.uploadIcons {
    font-size: 64px;
    width: auto;
    height: auto;
}
.uploadText {
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 24px;
    color: #5C8374;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.uploadBtn:hover {
    max-width: 40%;
    min-width: 130px;
    height: 10%;
    min-height: 50px;
    max-height: 80px;
    border-radius: 10px;
    background: #040D12;
    border: 0px solid;
}
.uploadBtn:hover .uploadBtnText {
    color: #5C8374;
    font-weight: bold;
    font-size: 16px;
}
.uploadBtnText {
    color: #040D12;
    font-weight: bold;
    font-size: 16px;
}